replicaCount: 1

image:
  repository: goniszewski/grimoire
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5173

env:
  PORT: "5173"
  PUBLIC_ORIGIN: "https://bookmarks.nserbin.com"
  PUBLIC_HTTPS_ONLY: "true"
  PUBLIC_SIGNUP_DISABLED: "false"

extraEnv: []
# - name: SOME_FLAG
#   value: "true"

persistence:
  enabled: true
  size: 5Gi
  accessMode: ReadWriteOnce
  storageClassName: "local-path"
  existingClaim: ""

deployment:
  strategy:
    type: Recreate

probes:
  enabled: true
  path: /api/health
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi


securityContext:
  enabled: true
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false  

podAnnotations: {}
# Si algún día hay /metrics, podrías usar esto:
# prometheus.io/scrape: "true"
# prometheus.io/port: "5173"
# prometheus.io/path: "/metrics"

ingress:
  enabled: false
