traefik:
  deployment:
    enabled: true
    replicas: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  service:
    enabled: true
    type: LoadBalancer
    spec:
      loadBalancerIP: 192.168.0.233

  providers:
    kubernetesCRD:
      enabled: true
    kubernetesIngress:
      enabled: true

  ports:
    web:
      port: 80
      expose:
        default: true
      exposedPort: 80
      protocol: TCP
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    websecure:
      port: 443
      expose:
        default: true
      exposedPort: 443
      protocol: TCP

  logs:
    general:
      level: INFO

    access:
      enabled: true
      format: json

  metrics:
    prometheus:
      enabled: true
      addEntryPointsLabels: true
      addRoutersLabels: true
      addServicesLabels: true

  api:
    dashboard: true
    insecure: false

  additionalArguments:
    - "--ping=true"
    - "--entryPoints.web.forwardedHeaders.insecure=true"
    - "--entryPoints.websecure.forwardedHeaders.insecure=true"

  securityContext:
    capabilities:
      drop: [ "ALL" ]
    allowPrivilegeEscalation: false

  podSecurityContext:
    fsGroup: 65532

  persistence:
    enabled: false


dashboard:
  enabled: true
  host: "traefik.nserbin.com"
  entryPoint: "websecure"

  basicAuth:
    enabled: true
    secretName: traefik-dashboard-auth

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.nserbin.com`)
    entryPoints:
      - web