traefik:
  deployment:
    enabled: true
    replicas: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  service:
    enabled: true
    type: LoadBalancer
    spec:
      loadBalancerIP: 192.168.0.233

  providers:
    kubernetesCRD:
      enabled: true
    kubernetesIngress:
      enabled: true

  ports:
    web:
      port: 80
      expose:
        default: true
      exposedPort: 80
      protocol: TCP
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    websecure:
      port: 443
      expose:
        default: true
      exposedPort: 443
      protocol: TCP

  logs:
    general:
      level: INFO

    access:
      enabled: true
      format: json
      filters:
        statusCodes:
          - "200-399"
          - "400-499"
          - "500-599"
      fields:
        defaultMode: keep
        headers:
          defaultMode: drop

  metrics:
    prometheus:
      enabled: true
      addEntryPointsLabels: true
      addRoutersLabels: true
      addServicesLabels: true

  api:
    dashboard: true
    insecure: false

  additionalArguments:
    - "--entryPoints.web.forwardedHeaders.insecure=true"
    - "--entryPoints.websecure.forwardedHeaders.insecure=true"
    - "--ping=true"

  readinessProbe:
    httpGet:
      path: /ping
      port: 9000
    initialDelaySeconds: 5
    periodSeconds: 10

  livenessProbe:
    httpGet:
      path: /ping
      port: 9000
    initialDelaySeconds: 10
    periodSeconds: 20

  securityContext:
    readOnlyRootFilesystem: false
    capabilities:
      drop: [ "ALL" ]
    allowPrivilegeEscalation: false

  podSecurityContext:
    fsGroup: 65532

  persistence:
    enabled: false


# --- Dashboard exposure (SIN secretos en Git) ---
dashboard:
  enabled: true
  host: "traefik.home.lab"
  entryPoint: "websecure"

  basicAuth:
    enabled: true
    secretName: traefik-dashboard-auth 