# Values del dependency "metallb" (van bajo .Values.metallb.* gracias al alias)
metallb:
  crds:
    enabled: true

  controller:
    enabled: true

  speaker:
    enabled: true

prometheus:
  scrapeAnnotations: false
  metricsPort: 7472

  # Necesario porque el chart te obliga si serviceMonitor.enabled=true
  rbacPrometheus: true
  namespace: monitoring

  # PONÉ ACÁ la SA REAL de Prometheus (salida del comando de arriba)
  serviceAccount: kube-prometheus-stack-prometheus

  serviceMonitor:
    enabled: true

    # ESTE era el bug: labels están separados controller/speaker
    controller:
      additionalLabels:
        release: kube-prometheus-stack

    speaker:
      additionalLabels:
        release: kube-prometheus-stack


# Tu configuración homelab (CRDs de MetalLB)
ipAddressPools:
  - name: default-pool
    namespace: metallb-system
    addresses:
      - 192.168.0.233-192.168.0.253

l2Advertisements:
  - name: default
    namespace: metallb-system
    ipAddressPools:
      - default-pool