kube-prometheus-stack:
  
  # =========================
  # PROMETHEUS              
  # =========================
  
  prometheus:
    enabled: true
    prometheusSpec:
      retention: 7d
      scrapeInterval: 30s
      evaluationInterval: 30s
      walCompression: true

      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}
      podMonitorSelector: {}
      podMonitorNamespaceSelector: {}

      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          cpu: 1
          memory: 2Gi

      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: local-path
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 20Gi

      walCompression: true
      enableAdminAPI: false

  prometheusOperator:
    admissionWebhooks:
      enabled: false

  # =========================
  # GRAFANA
  # =========================
  
  grafana:
    enabled: true
    image:
      repository: grafana/grafana
      tag: "12.4.0-20321528496-ubuntu"
      pullPolicy: IfNotPresent

    existingSecret: grafana-admin-credentials

    defaultDashboardsEnabled: true
    defaultDashboardsTimezone: "browser"

    plugins:
      - grafana-github-datasource

    securityContext:
      runAsNonRoot: true
      runAsUser: 472
      runAsGroup: 472
      fsGroup: 472

    initChownData:
      enabled: false

    sidecar:
      datasources:
        enabled: true
        initDatasources: false
        skipReload: true

    grafana.ini:
      server:
        domain: monitor.nserbin.com
        root_url: https://monitor.nserbin.com
        serve_from_sub_path: false

      security:
        cookie_secure: true
        cookie_samesite: lax
        disable_gravatar: true
        allow_embedding: false

      users:
        allow_sign_up: false
        allow_org_create: false
        auto_assign_org: true
        auto_assign_org_role: Viewer
      log:
        mode: console
        level: info
      date_formats:
        default_timezone: browser

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 300m
        memory: 512Mi

    persistence:
      enabled: true
      storageClassName: local-path
      size: 5Gi

    service:
      type: ClusterIP

    additionalDataSources:
      - name: GitHub (App)
        type: grafana-github-datasource
        access: proxy
        jsonData:
          selectedAuthType: github-app
          appId: ${GITHUB_APP_ID}
          installationId: ${GITHUB_APP_INSTALLATION_ID}
        secureJsonData:
          privateKey: ${GITHUB_APP_PRIVATE_KEY}

    envValueFrom:
      GITHUB_APP_PRIVATE_KEY:
        secretKeyRef:
          name: grafana-github-app
          key: GITHUB_APP_PRIVATE_KEY

      GITHUB_APP_ID:
        secretKeyRef:
          name: grafana-github-app
          key: GITHUB_APP_ID

      GITHUB_APP_INSTALLATION_ID:
        secretKeyRef:
          name: grafana-github-app
          key: GITHUB_APP_INSTALLATION_ID

  # =========================
  # NODE EXPORTER + KSM
  # =========================
  
  nodeExporter:
    enabled: true

  kubeStateMetrics:
    enabled: true

  # =========================
  # ALERTMANAGER
  # =========================

  alertmanager:
    enabled: true

    alertmanagerSpec:
      retention: 120h

      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi

      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: local-path
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 2Gi

      env:
        - name: SLACK_WEBHOOK_URL
          valueFrom:
            secretKeyRef:
              name: alertmanager-secrets
              key: SLACK_WEBHOOK_URL

    config:
      global:
        resolve_timeout: 5m

      route:
        receiver: "slack-warnings"
        group_by: ["alertname", "namespace", "severity"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 12h

        routes:
          - matchers:
              - alertname="Watchdog"
            receiver: "null"

          - matchers:
              - severity="critical"
            receiver: "slack-critical"

          - matchers:
              - severity="warning"
            receiver: "slack-warnings"

      receivers:
        - name: "null"

        - name: "slack-warnings"
          slack_configs:
            - api_url: ${SLACK_WEBHOOK_URL}
              channel: "#alerts"
              send_resolved: true

        - name: "slack-critical"
          slack_configs:
            - api_url: ${SLACK_WEBHOOK_URL}
              channel: "#ns-alarms-grafana"
              send_resolved: true      

  kubeApiServer:
    enabled: false
  kubeControllerManager:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  kubeEtcd:
    enabled: false

  defaultRules:
    create: true
    rules:
      alertmanager: true
      configReloaders: true
      general: true
      kubeApiserver: false
      kubeControllerManager: false
      kubeScheduler: false
      kubeEtcd: false
      kubelet: true
      kubernetesApps: true
      kubernetesResources: false
      kubernetesStorage: true
      kubernetesSystem: false
      node: true
      prometheus: true
      prometheusOperator: true

externalTargets:
  enabled: true

  namespace: monitoring

  releaseLabel:
    key: release
    value: kube-prometheus-stack

  # External Hosts
  targets:
    - name: rpi
      ip: 192.168.0.4
      exporters:
        - name: node
          port: 9100
          path: /metrics
          interval: 30s
          scrapeTimeout: 10s
        - name: cadvisor
          port: 8080
          path: /metrics
          interval: 30s
          scrapeTimeout: 10s
        - name: cloudflare-tunnels
          port: 60123
          path: /metrics
          interval: 30s
          scrapeTimeout: 10s


traefikRoutes:
  enabled: true
  namespace: monitoring
  entryPoints:
    - web

  routes:
    - name: grafana
      enabled: true
      host: monitor.nserbin.com
      service:
        name: kube-prometheus-stack-grafana
        port: 80
      pathPrefixes: ["/"]
      middlewares: []

    - name: prometheus
      enabled: true
      host: prometheus.nserbin.com
      service:
        name: kube-prometheus-stack-prometheus
        port: 9090
      pathPrefixes: ["/"]
      middlewares: []

    - name: alertmanager
      enabled: true
      host: alerts.nserbin.com
      service:
        name: kube-prometheus-stack-alertmanager
        port: 9093
      pathPrefixes: ["/"]
      middlewares: []